<h1>Book List</h1>

<div id='books-list'>
	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Notes</th>
		</tr>

		<% @books.each do |book| %>
			<tr>
				<td><%= link_to book.title, book %></td>
				<td><%= book.author %></td>
				<td><%= book.notes %></td>
			</tr>
		<% end %>

	</table>
</div>

<p><%= link_to "Add Book to List", new_book_path %>
